flake8
mypy
mypy_extensions
pycodestyle
pylint
pylint-quotes
pytest
pytest-asyncio
pytest-cov
pytype>=2021.3.3
semver
pyee
requests
qrcode
apscheduler
lxml
pre-commit
mkdocs
mkdocs-material
types-requests
mkdocstrings
mkdocstrings-python-legacy